<app-navbar></app-navbar>
<main role="main">

  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">today's work!</h1>
      <p>La vie peut parfois sembler écrasante, mais ça n'a pas à être le cas.
        Avec Todo List, vous gardez tout en un seul lieu, pour faire ce que vous souhaitez et profiter
        de plus de tranquillité d'esprit en cours de route...
      </p>
      <p><a class="btn btn-primary btn-lg" [routerLink]="['/subscribe']" role="button">S'inscrire &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Planifiez</h2>
        <p>Planifiez vos projets et vos objectifs , étape par étape avec les sections de projets et les sous-tâches.. </p>
        <p><a class="btn btn-secondary" href="#" role="button">Plus &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>N'oubliez plus </h2>
        <p>N'oubliez plus les échéances et créez des habitudes avec les dates d'échéance
          et les dates d'échéance récurrentes, comme "tous les lundis". </p>
        <p><a class="btn btn-secondary" href="#" role="button">Plus &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Commencez </h2>
        <p>Commencez chaque jour en étant détendu et aux commandes Visualisez clairement tout
          ce que vous devez faire, et ne perdez plus de vue une tâche importante.</p>
        <p><a class="btn btn-secondary" href="#" role="button">Plus &raquo;</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>

<footer class="container">
  <p>&copy; Company 2017-2019</p>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="/docs/4.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
